body{
    background-color: #e9e9a5;
}
h1{
    color: rgb(192, 86, 47);
    background-color: #d8d4d4;
    text-align: center;
    letter-spacing: 2.5px;
    text-decoration: underline wavy 3px;
    font-size: 45px;
    font-family: 'Courier New';
}   

h2{
    color: darkolivegreen;
}

p{
    color: blueviolet;
    background-color: #fff;
    text-align: right;
    line-height: 1.5;
}
button{
    color: blueviolet;
    font-weight: bold;
    font-size: 24px;
}