body{
    background-color: #e9e9a5;
}
h1{
    color: rgb(192, 86, 47);
    background-color: #9e9e9e;
    text-align: center;
}

h2{
    color: darkolivegreen;
    background-color: rgb(199, 199, 122);
}

p{
    color: blueviolet;
    background-color: #fff;
    text-align: right;
    font-weight: 800;
}
button{
    color: blueviolet;
}